
.card.info{
  display: grid;
  grid-template-columns: repeat(2, 15% 85%);
  margin: 2%;
  padding: 1rem;
  border-radius: 12px;
  background: rgba(var(--card-rgb), 0);
  border: 1px solid;
  border-color: #c1c1c1;
    /* transition: background 200ms, border 200ms; */
  text-align: left;
  justify-content: space-between;
  height: 10vh;
}

.content.info{
  padding-left: 0%;
  width: 100%;
  height: 100%;
  margin: 0%;
  justify-content: space-between;

}
.day{
  font-size: x-large;
  font-weight: 600;
}

.cardTitle.info{  
  text-align: left;
  font-size: 17px;
  color: rgb(36, 36, 36);
  height: auto;

}
.cardSubtitle.info{
  font-size: 13px;
  color: #7a7a7a;
  height: auto;
}
.accessButton{
  background-color:  rgb(160, 206, 255) ;
  color:  rgb(0, 93, 193);
  font-family: "Inter";
  font-size: 0.95rem;
  font-weight: 600;
  width: 50%;
  height: 25%;
  border: 2px;
  border-radius: 2px;
  border-color: #f3f2f2;
  transition-duration: 0.3s;
  /* box-shadow: 0px 4px 4px 2px #e0e0e0; */
  margin-top: 2%;

}

.accessButton:hover {
  transition-duration: 0.3s;
  background-color: rgb(47, 148, 255);
  color: #ffffff;
  cursor: pointer;
}


@media (max-width: 700px) {
  .card {
    height: 37vh;
    width: 87%;
    margin-bottom: 15%;
  }
  .cardTitle{
    font-size: 30px;
  }
  .cardSubtitle{
    height: 15vh;
   font-size: 15px; 
   font-weight: 500;
  }
}
